earthquake_data_pipeline.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "774e0bf0-afbb-ae98-4c84-2d7144f407a3",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "start_date": {
              "value": {
                "value": "@variables('start_date')",
                "type": "Expression"
              },
              "type": "string"
            },
            "end_date": {
              "value": {
                "value": "@variables('end_date')",
                "type": "Expression"
              },
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Bronze Notebook",
        "dependsOn": [
          {
            "activity": "Set end_date",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "090ee079-b2d4-996b-4e56-33fd30e8fc52",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "start_date": {
              "value": {
                "value": "@variables('start_date')",
                "type": "Expression"
              },
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Silver Notebook",
        "dependsOn": [
          {
            "activity": "Bronze Notebook",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "5c5af606-5616-ab06-45ca-d76ea472bbc3",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "start_date": {
              "value": {
                "value": "@variables('start_date')",
                "type": "Expression"
              },
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Gold Notebook",
        "dependsOn": [
          {
            "activity": "Silver Notebook",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "start_date",
          "value": {
            "value": "@formatDateTime(adddays(utcNow(), -1), 'yyyy-MM-dd')",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set start_date variable",
        "dependsOn": []
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "end_date",
          "value": {
            "value": "@formatDateTime(utcNow(), 'yyyy-MM-dd')",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set end_date",
        "dependsOn": [
          {
            "activity": "Set start_date variable",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "variables": {
      "start_date": {
        "type": "String"
      },
      "end_date": {
        "type": "String"
      }
    }
  }
}